# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Python
venv/
.env/
.envrc
*.env
__pycache__/
*.pyc
*.egg-info/
pip-wheel-metadata/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Backend
backend/env/

app-example/
.expo/